<footer class="footer" id="footer">
    <div class="container">
      <p class="text-muted"> <bold>
        {{ msg }}
    </bold></p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>

<script>
    var app = new Vue({
        el: '#footer',
        data: {
            msg: '© Battleship 2020 - All rights reserved - Francisco',
        }    
    })
</script>