<!DOCTYPE html>
<html>
<head>
    <title>NodeBattleship</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <div class="row vertical-center-row">
        <div class="col-md-12">

            <!-- Disconnected from server -->
            <div id="disconnected">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <div class="alert alert-danger">
                            <p>Not connected to server.</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Waiting room -->
            <div id="waiting-room" style="display:none;">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4 text-center">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Waiting Room</div>
                            <div class="panel-body">
                                <p>You are connected to the server.</p>
                                <p>Waiting for another player...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Game -->
            <div id="game" style="display:none;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Battleship Game #<span id="game-number"></span></div>
                            <div class="panel-body">

                                <!-- Player grids -->
                                <div class="row">
                                    <div class="col-md-6 player-grid text-center">
                                        <h3>You</h3>
                                        <canvas id="canvas-grid1" width="361" height="361">Browser does not support canvas.</canvas>
                                    </div>
                                    <div class="col-md-6 player-grid text-center">
                                        <h3>Opponent</h3>
                                        <canvas id="canvas-grid2" width="361" height="361">Browser does not support canvas.</canvas>
                                    </div>
                                </div>
                                
                                
                            </div>

                            <ul class="list-group">
                                <!-- Status -->
                                <li class="list-group-item text-center" id="turn-status"></li>

                                <!-- Chat messages -->
                                <li class="list-group-item" id="messages-list">
                                    <ul id="messages"></ul>
                                </li>

                                <!-- Send chat message form -->
                                <li class="list-group-item">
                                    <form id="message-form" action="">
                                        <div class="input-group">
                                        <input id="message" class="form-control" autocomplete="off" />
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary">Send Message</button>
                                        </div>
                                        </div>
                                    </form>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    /***********************************************************CLIENT**************************************************************/
    var socket = io(); //documentação do socketio diz pa por dps do body mas tmb dentro do function//neste caso só fora pq landa erro
  $(function() {
    

    /**
     * Successfully connected to server event
     */
    socket.on('connect', function() {
        console.log('Connected to server.');

       //socket.on('join', function() {
       //  socket.emit('join','Enter login');
       //});


        $('#disconnected').hide();
        $('#waiting-room').show(); 
    });

    /**
     * Disconnected from server event
     */
    socket.on('disconnect', function() {
        console.log('Disconnected from server.');
        $('#waiting-room').hide();
        $('#game').hide();
        $('#disconnected').show();
    });

    /**
     * User has joined a game
     */
    socket.on('join', function(gameId) {
        Game.initGame();
        $('#messages').empty();
        $('#disconnected').hide();
        $('#waiting-room').hide();
        $('#game').show();
        $('#game-number').html(gameId);
    })

    /**
     * Update player's game state
     */
    socket.on('update', function(gameState) {
        Game.setTurn(gameState.turn);
        Game.updateGrid(gameState.gridIndex, gameState.grid);
    });

    /**
     * Game chat message
     */
    socket.on('chat', function(msg) {
        $('#messages').append('<li><strong>' + msg.name + ':</strong> ' + msg.message + '</li>');
        $('#messages-list').scrollTop($('#messages-list')[0].scrollHeight);
    });

    /**
     * Game notification
     */
    socket.on('notification', function(msg) {
        $('#messages').append('<li>' + msg.message + '</li>');
        $('#messages-list').scrollTop($('#messages-list')[0].scrollHeight);
    });

    /**
     * Change game status to game over
     */
    socket.on('gameover', function(isWinner) {
        Game.setGameOver(isWinner);
    });
    
    /**
     * Leave game and join waiting room
     */
    socket.on('leave', function() {
        $('#game').hide();
        $('#waiting-room').show();
    });

    /**
     * Send chat message to server
     */
    $('#message-form').submit(function() {
        socket.emit('chat', $('#message').val());
        $('#message').val('');
        return false;
    });

    });

    /**
     * Send leave game request
     * @param {type} e Event
     */
    function sendLeaveRequest(e) {
    e.preventDefault();
    socket.emit('leave');
    }

    /**
     * Send shot coordinates to server
     * @param {type} square
     */
    function sendShot(square) {
    socket.emit('shot', square);
    }
    /***********************************************************END CLIENT**************************************************************/

    /***********************************************************GAME**************************************************************/

var GameStatus = {
  inProgress: 1,
  gameOver: 2
}

var Game = (function() {
  var canvas = [], context = [], grid = [],
      gridHeight = 361, gridWidth = 361, gridBorder = 1,
      gridRows = 10, gridCols = 10, markPadding = 10, shipPadding = 3,
      squareHeight = (gridHeight - gridBorder * gridRows - gridBorder) / gridRows,
      squareWidth = (gridWidth - gridBorder * gridCols - gridBorder) / gridCols,
      turn = false, gameStatus, squareHover = { x: -1, y: -1 };

  canvas[0] = document.getElementById('canvas-grid1');    // This player
  canvas[1] = document.getElementById('canvas-grid2');    // Opponent
  context[0] = canvas[0].getContext('2d');
  context[1] = canvas[1].getContext('2d');

  /**
   * Highlight opponent square on hover
   */
  canvas[1].addEventListener('mousemove', function(e) {
    var pos = getCanvasCoordinates(e, canvas[1]);
    squareHover = getSquare(pos.x, pos.y);
    drawGrid(1);
  });

  /**
   * Mouse moved out of opponent grid. Unhighlight.
   */
  canvas[1].addEventListener('mouseout', function(e) {
    squareHover = { x: -1, y: -1 };
    drawGrid(1);
  });

  /**
   * Fire shot on mouse click event (if it's user's turn).
   */
  canvas[1].addEventListener('click', function(e) {
    if(turn) {
      var pos = getCanvasCoordinates(e, canvas[1]);
      var square = getSquare(pos.x, pos.y);
      sendShot(square);
    }
  });

  /**
   * Get square from mouse coordinates
   * @param {type} x Mouse x
   * @param {type} y Mouse y
   * @returns {Object}
   */
  function getSquare(x, y) {
    return {
      x: Math.floor(x / (gridWidth / gridCols)),
      y: Math.floor(y / (gridHeight / gridRows))
    };
  };

  /**
   * Get mouse position on canvas relative to canvas top,left corner
   * @param {type} event
   * @param {type} canvas
   * @returns {Object} Position
   */
  function getCanvasCoordinates(event, canvas) {
    rect = canvas.getBoundingClientRect();
    return {
      x: Math.round((event.clientX - rect.left) / (rect.right - rect.left) * canvas.width),
      y: Math.round((event.clientY - rect.top) / (rect.bottom - rect.top) * canvas.height)
    };
  };

  /**
   * Init new game
   */
  function initGame() {
    var i;

    gameStatus = GameStatus.inProgress;
    
    // Create empty grids for player and opponent
    grid[0] = { shots: Array(gridRows * gridCols), ships: [] };
    grid[1] = { shots: Array(gridRows * gridCols), ships: [] };

    for(i = 0; i < gridRows * gridCols; i++) {
      grid[0].shots[i] = 0;
      grid[1].shots[i] = 0;
    }

    // Reset turn status classes
    $('#turn-status').removeClass('alert-your-turn').removeClass('alert-opponent-turn')
            .removeClass('alert-winner').removeClass('alert-loser');

    drawGrid(0);
    drawGrid(1);
  };

  /**
   * Update player's or opponent's grid.
   * @param {type} player
   * @param {type} gridState
   * @returns {undefined}
   */
  function updateGrid(player, gridState) {
    grid[player] = gridState;
    drawGrid(player);
  };

  /**
   * Set if it's this client's turn
   * @param {type} turnState
   * @returns {undefined}
   */
  function setTurn(turnState) {
    if(gameStatus !== GameStatus.gameOver) {
      turn = turnState;

      if(turn) {
        $('#turn-status').removeClass('alert-opponent-turn').addClass('alert-your-turn').html('It\'s your turn!');
      } else {
        $('#turn-status').removeClass('alert-your-turn').addClass('alert-opponent-turn').html('Waiting for opponent.');
      }
    }
  };

  /**
   * Set game over and show winning/losing message
   * @param {Boolean} isWinner
   */
  function setGameOver(isWinner) {
    gameStatus = GameStatus.gameOver;
    turn = false;
    
    if(isWinner) {
      $('#turn-status').removeClass('alert-opponent-turn').removeClass('alert-your-turn')
              .addClass('alert-winner').html('You won! <a href="#" class="btn-leave-game">Play again</a>.');
    } else {
      $('#turn-status').removeClass('alert-opponent-turn').removeClass('alert-your-turn')
              .addClass('alert-loser').html('You lost. <a href="#" class="btn-leave-game">Play again</a>.');
    }
    $('.btn-leave-game').click(sendLeaveRequest);
  }

  /*
   * Draw a grid with squares, ships and shot marks
   */
  function drawGrid(gridIndex) {
    drawSquares(gridIndex);
    drawShips(gridIndex);
    drawMarks(gridIndex);
  };

  /**
   * Draw grid squares/background
   * @param {Number} gridIndex
   */
  function drawSquares(gridIndex) {
    var i, j, squareX, squareY;

    context[gridIndex].fillStyle = '#222222'
    context[gridIndex].fillRect(0, 0, gridWidth, gridHeight);

    for(i = 0; i < gridRows; i++) {
      for(j = 0; j < gridCols; j++) {
        squareX = j * (squareWidth + gridBorder) + gridBorder;
        squareY = i * (squareHeight + gridBorder) + gridBorder;

        context[gridIndex].fillStyle = '#7799FF'

        // Highlight square if it's user's turn and user hovers over an unfired on, opponent square.
        if(j === squareHover.x && i === squareHover.y &&
                gridIndex === 1 && grid[gridIndex].shots[i * gridCols + j] === 0 && turn) {
          context[gridIndex].fillStyle = '#4477FF';
        }

        context[gridIndex].fillRect(squareX, squareY, squareWidth, squareHeight);
      }
    }
  };

  /**
   * Draw visible ships on grid
   * @param {Number} gridIndex
   */
  function drawShips(gridIndex) {
    var ship, i, x, y,
        shipWidth, shipLength;

    context[gridIndex].fillStyle = '#444444';
    
    for(i = 0; i < grid[gridIndex].ships.length; i++) {
      ship = grid[gridIndex].ships[i];

      x = ship.x * (squareWidth + gridBorder) + gridBorder + shipPadding;
      y = ship.y * (squareHeight + gridBorder) + gridBorder + shipPadding;
      shipWidth = squareWidth - shipPadding * 2;
      shipLength = squareWidth * ship.size + (gridBorder * (ship.size - 1)) - shipPadding * 2;

      if(ship.horizontal) {
        context[gridIndex].fillRect(x, y, shipLength, shipWidth);
      } else {
        context[gridIndex].fillRect(x, y, shipWidth, shipLength);
      }
    }
  };
  
  /**
   * Draw shot marks on grid (black crosses for missed and red circles for hits)
   * @param {Number} gridIndex
   */
  function drawMarks(gridIndex) {
    var i, j, squareX, squareY;

    for(i = 0; i < gridRows; i++) {
      for(j = 0; j < gridCols; j++) {
        squareX = j * (squareWidth + gridBorder) + gridBorder;
        squareY = i * (squareHeight + gridBorder) + gridBorder;

        // draw black cross if there is a missed shot on square
        if(grid[gridIndex].shots[i * gridCols + j] === 1) {
          context[gridIndex].beginPath();
          context[gridIndex].moveTo(squareX + markPadding, squareY + markPadding);
          context[gridIndex].lineTo(squareX + squareWidth - markPadding, squareY + squareHeight - markPadding);
          context[gridIndex].moveTo(squareX + squareWidth - markPadding, squareY + markPadding);
          context[gridIndex].lineTo(squareX + markPadding, squareY + squareHeight - markPadding);
          context[gridIndex].strokeStyle = '#000000';
          context[gridIndex].stroke();
        }
        // draw red circle if hit on square
        else if(grid[gridIndex].shots[i * gridCols + j] === 2) {
          context[gridIndex].beginPath();
          context[gridIndex].arc(squareX + squareWidth / 2, squareY + squareWidth / 2,
                                 squareWidth / 2 - markPadding, 0, 2 * Math.PI, false);
          context[gridIndex].fillStyle = '#E62E2E';
          context[gridIndex].fill();
        }
      }
    }
  };

  return {
    'initGame': initGame,
    'updateGrid': updateGrid,
    'setTurn': setTurn,
    'setGameOver': setGameOver
  };
})();
    /***********************************************************END GAME**************************************************************/

</script>

</html>
